/* resets browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*measurement now includes padding and borders*/
  background: #FAFAFA;
}

/* adds smooth scroll effect to make the page section transitions more typewriter-like*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 50em;

  font-family: "Gotham Narrow", "Helvetica", "Arial", sans-serif;

  line-height: 1.5;
  padding: 1em;

  color: #555;
}

/*
/* makes nav bar stick to top of page when it's scrolled past */
/*.nav-bar-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #FAFAFA;
  z-index: 3; /* positions nav bar over side bar images }*/

.main-nav > ul {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul > li {
  list-style-type: none;
}


/* fixes issue of navigation bar partially covering header on jump */
h1 span {
  margin-top: -2.3em;
  padding-bottom: 2.3em;
  display: block;
}

h1,
h2,
strong {
  color: #333;
}

h1:first-of-type {
  margin-top: 1.5em;
  text-align: center;
  margin-bottom: .15em;
}

.welc {
  font-size: 2em;
  text-align: center;
  font-weight: normal;
}
.bod {
  margin-top: -.45em;
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}
.arch {
  margin-top: -.6em;
  font-size: 3em;
  text-align: center;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h5 {
  margin-top: 1em;
  margin-left: 2em;
}

p {
  margin-bottom: 1em;
  margin-left: 2em;
}

ol > li {
  margin-bottom: 1em;
  margin-left: 4em;
}

li > a {
  text-decoration: none;
}

a {
  color: #8e1600;
}

a:hover {
  font-weight: bold;
}

a:focus {
  outline: 2.5px solid #8e1600;
}

.skip-to-content-link {
  background: #fce6e6;
  height: 30px;
  left: 44%;
  padding: 8px;
  position: absolute;
  transform: translateY(-200%);
  transition: transform 0.3s;
}

.skip-to-content-link:focus {
  transform: translateY(0%);
}
