/* resets browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*measurement now includes padding and borders*/
}

/* adds smooth scroll effect to make the page section transitions more typewriter-like*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 50em;

  font-family: "Gotham Narrow", "Helvetica", "Arial", sans-serif;

  line-height: 1.5;
  padding: 1em 1em;

  color: #555;
}


/* makes nav bar stick to top of page when it's scrolled past */
.nav-bar-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #FAFAFA;
  z-index: 3; /* positions nav bar over side bar images */
}

/* fixes issue of navigation bar partially covering header on jump */
h1 span {
  margin-top: -2.3em;
  padding-bottom: 2.3em;
  display: block;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

p {
  margin-bottom: .5em;
}

a {
  color: #e81c4f;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}
