/* resets browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*measurement now includes padding and borders*/
  background: #F5F5F5;
}

/* adds smooth scroll effect to make the page section transitions more typewriter-like*/
html {
  scroll-behavior: smooth;
  scroll-padding: 2em; //gets scroll margins right
}

body {
  margin: 0 auto;
  max-width: 50em;

  font-family: sans-serif;

  line-height: 1.5;
  padding: 1em;

  color: #555;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

/* makes nav bar stick to top of page when it's scrolled past */
.nav-bar-container {
  height: 2em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #F5F5F5;
  z-index: 2;/* positions nav bar over side bar images*/
}

.main-nav > ul {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul > li {
  list-style-type: none;
}

ol > li {
  overflow-wrap: break-word; /*prevents URLs from breaking out of body*/
}

h1,
h2,
strong {
  color: #444;
}

h1:first-of-type {
  margin-top: 1.5em;
  margin-bottom: .15em;
}

.welc > strong {
  font-size: 3em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h4 {
  margin-top: 1em;
  margin-left: 2em;
}

.print-p {
  margin-left: 3em;
}

p {
  margin-bottom: 1em;
  margin-left: 2em;
}

ol > li {
  margin-bottom: 1em;
  margin-left: 4em;
}

li > a {
  text-decoration: none;
}

a {
  color: #8e1600;
}

a:hover {
  font-weight: bold;
}

a:focus {
  outline: 2.5px solid #8e1600;
}

.skip-to-content-link {
  background: #fce6e6;
  height: 30px;
  left: 44%;
  padding: 8px;
  position: absolute;
  transform: translateY(-200%);
  transition: transform 0.3s;
  z-index: 3;
}

.skip-to-content-link:focus {
  transform: translateY(40%);
}

.diagram-container {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.border-container {
  display: flex;
  justify-content: center;
  margin-top: .3em;
}

.border {
  opacity: .8;
}

.intro-h2 {
  margin-top: -8px;
}

.break,
.font-ref {
  text-align: center;
}

.font-ref {
  font-size: .7em;
}
